body {
    font-family: 'Arial', Helvetica, sans-serif;
    color: grey;
    background-color: gainsboro;
    /* background: url('../../public/bgimage.png') no-repeat center center fixed;
    background-size: cover; */
}